#!/usr/bin/env bash

# {{ ansible_managed }}

prune_days="{{ mysqlbackup_"
log_dir="{{ mysqlbackup_logdir }}"
log_filename="${log_dir}/prune-by-age.log"


pushd "{{ mysqlbackup_backupdir_inc }}"
find -maxdepth 1 -mtime +30
popd